@font-face {
  font-family: friday;
  src: url(/Friday.otf);
}

.loginSignin {
  display: flex;
  justify-content: center;
  margin: 20px 30px;
  color: rgb(41, 36, 36);
  margin-top: 80px;
  margin-bottom: 100px;
}

.loginSignin input {
  padding: 12px;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.657);
}

.loginForm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 60%;
  min-width: 360px;
}

.login_details {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
  margin-top: 20px;
}

#login_btn {
  padding: 15px;
  background-color: rgb(46, 41, 41);
  border: 0.5px solid white;
  color: white;
  font-size: 17px;
}

.spans {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  cursor: pointer;
}

.signInForm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 70%;
}

.signinDetails {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
  margin-top: 20px;
}

#signInBtn {
  padding: 15px;
  background-color: rgb(46, 41, 41);
  border: 0.5px white;
  font-size: 17px;
  color: white;
}

.loginSignin {
  font-family: friday;
  font-size: 25px;
}

.password {
  position: relative;
  overflow: hidden;
  border: 1px solid #e0e0e0;
}

.password input {
  width: 100%;
  padding: 12px 0;
  padding-left: 12px;
  border: none;
}

.eye {
  position: absolute;
  height: 100%;
  top: 0;
  width: 40px;
  right: 12px;
  font-size: 25px;
  color: rgb(46, 41, 41);
  background: transparent;
  border: none;
}

.eye:hover {
  cursor: pointer;
}

@media (max-width: 1160px) {
  .loginSignin {
    display: block;
    width: 100%;
    margin: 0;
  }

  .loginForm {
    margin-bottom: 70px;
  }

  .signInForm {
    margin-top: 70px;
    margin-bottom: 100px;
  }
}
