* {
  margin: 0px;
}

@media (max-width: 500px) {
  * {
    margin: 0;
  }
}

button:hover {
  cursor: pointer;
}

button {
  text-transform: uppercase;
  font-family: quick;
}

hr {
  border: 0.5px solid gainsboro;
}
