header {
  color: rgb(39, 38, 38);
  top: 0;
  width: 100%;
  background-color: #f0f8ff;
}

.bar {
  display: none;
}

.search_bar {
  display: flex;
  align-items: center;
  gap: 5px;
  border: none;
  background: none;
  cursor: pointer;
  color: rgb(140, 133, 133);
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 15px;
}

.upper_part {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 0;
}

hr {
  border-width: 0.5px;
  border-color: #f8f8ff;
}

#logo img {
  height: 5rem;
  width: auto;
}

.r-icons {
  color: #282c35;
  display: flex;
  align-items: end;
  gap: 15px;
  margin-bottom: 14px;
  margin-right: 5px;
  padding-right: 10px;
}

.r-icons:hover {
  cursor: pointer;
}

.lower_part {
  margin-top: 0;
  padding: 0;
}

@media (max-width: 512px) {
  #logo img {
    width: 180px;
    height: auto;
  }

  #buttons {
    display: flex;
    gap: 5px;
    margin-left: 5px;
  }

  .bar {
    display: block;
    border: none;
    background: none;
    font-size: small;
    color: rgb(39, 38, 38);
    margin-bottom: 10px;
    padding: 0;
  }

  .search_bar {
    font-size: small;
    font-size: 12px;
    padding: 0;
  }

  .search_bar span {
    display: none;
  }

  .r-icons {
    font-size: small;
    gap: 10px;
    padding: 0;
  }

  .lower_part {
    display: none;
  }
}
